.main-section {
  grid-area: main;

  margin: 20px;

  background-color: var(--main-bg-color);
}

.main-section-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.main-section-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
